.sitesList {
  margin: 0 auto;
  ul {
    list-style-type: none;
    padding: 0;

    li {
      min-width: 30vw;
    }
  }
}

.sortBtnContainer {
  padding-bottom: var(--padding);
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1000px) {
  .sitesList {
    ul {
      li {
        min-width: 50vw;
      }
    }
  }
}
